- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.topw
                        .row
                            .col-sm-1
                                %a.btn.btn-primary.btn-outline.newOne new

                .sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input.form-control(type="hidden" name="id")
                        .form-group.tc
                            %img.center-block.cp.pic_img(data-name="pic" src="/pic/nopic.jpg" style="max-width:100px;max-height:100px")
                            %input.form-control(type="file" style="display:none")
                            %input.form-control(type="hidden" name="pic")
                        .form-group
                            %label.col-sm-3.control-label 顺序序号
                            .col-sm-9
                                %input.form-control(name="ord")
                        .form-group
                            %label.col-sm-3.control-label 超链接
                            .col-sm-9
                                %input.form-control(name="href")

                    
                    
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        $(function(j){
            gr.updBefore = function(){
                j('input[name="pic"]').val('nopic.jpg')
                j('.pic_img')[0].src = '/pic/nopic.jpg'
            }
            gr.flesh = function(){
                getList('/home/banner_lists')
            }
            upPic('/staff/upPic','input[type="file"]','input[name="pic"]','.pic_img');
            j('.pic_img').click(function(){
                j('input[type="file"]').click();
            })
            gr.flesh();
        })
            
        
        
            
