- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.topw
                        .row
                            .col-sm-1
                                %button.btn.btn-primary.btn-outline.newOne(data-toggle="button" type="button" aria-pressed="true") new

                .sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input.form-control(type="hidden" name="id")
                        
                        .form-group
                            %label.col-sm-3.control-label 标题/Title
                            .col-sm-9
                                %input.form-control(name="title")
                        .form-group
                            %label.col-sm-3.control-label 简介/short message
                            .col-sm-9
                                %input.form-control(name="short_message")
                        .form-group
                            %label.col-sm-3.control-label 详细内容/content
                            .col-sm-9
                                %textarea.form-control(name="content" style="resize:vertical" rows="10")
                        .form-group
                            %label.col-sm-3.control-label 到期时间/end time
                            .col-sm-9
                                %input.form-control(name="end_date" placeholder="YYYY-mm-dd")
                        .bbox
                            .form-group
                                %label.col-sm-3.control-label 选项/option
                                .col-sm-8
                                    %input.form-control.option(name="option[]")
                                %label.col-sm-1.control-label x
                            .form-group
                                %label.col-sm-3.control-label 选项/option
                                .col-sm-8
                                    %input.form-control.option(name="option[]")
                                %label.col-sm-1.control-label x
                        .bbox2
                            .form-group
                                %label.col-sm-12.tr
                                    %button.btn.btn-success(type="button") 添加
                    
                    
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        
            
            function flesh(){

                getList('/notice/activity_lists')
            }

            flesh();
            
        })