- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    :css
                        .topw .row>div{
                            padding-bottom:20px
                        }
                    .ibox-title.topw(style="padding-top:20px")
                        .row
                .load1.sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.mainList.float-e-margins

- block otherScript
    :javascript
        $(function(){
            var e = new Dmcat.admin('#{getList}')
            window.flesh = function(){
                e.flesh()
            }
        })
            
        
        
            
