- extends "base.haml"


- block body
    
    .wrapper.wrapper-content
        .row
            .col-sm-12
                #modal_new.ibox.float-e-margins
                    .ibox-title
                        %h3 设置
                    .ibox-content
                        %form.form-horizontal.animated(method="post")
                            .form-group
                                %label.col-sm-3.control-label 发展历程首页封面图
                                .col-sm-6
                                    %img.cp.pic_img(data-name="pic" src="/pic/nopic.jpg" style="max-width:100px;max-height:100px")
                                    %input.form-control.picFile(type="file" style="display:none")
                                    %input.form-control(type="hidden" name="pic")
                            .form-group
                                %label.col-sm-3.control-label 社会责任首页封面图
                                .col-sm-6
                                    %img.cp.pic_img2(data-name="pic2" src="/pic/nopic.jpg" style="max-width:100px;max-height:100px")
                                    %input.form-control.picFile2(type="file" style="display:none")
                                    %input.form-control(type="hidden" name="pic2")
                        .ibox-title
                            %button.btn.btn-primary.save(type="button") Save
    
- block otherCss
    %link(href="/css/plugins/summernote/summernote.css" rel="stylesheet")
    %link(href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet")

                        



- block otherScript
    %script(src="/js/plugins/summernote/summernote.min.js")
    %script(src="/js/plugins/summernote/summernote-zh-CN.js")
    :javascript
        $(function(j){
            upPic('/staff/upPic','.picFile','input[name="pic"]','.pic_img');
            j('.pic_img').click(function(){
                j('.picFile').click();
            })
            upPic('/staff/upPic','.picFile2','input[name="pic2"]','.pic_img2');
            j('.pic_img2').click(function(){
                j('.picFile2').click();
            })
            var su = j(".summernote").summernote({
                toolbar: [
                    ['style', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname',['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['height', ['height']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['e',['picture','link']],
                    ['o',['codeview']],
                ],
                height: 300,
                minHeight: 300,
                maxHeight: null,
                focus: true,
                lang:"zh-CN",
                callbacks: {
                    onImageUpload: function(files) {
                        curl('/staff/upPic',packFormData(files),function(d){
                            var imgNode = new Image
                            imgNode.src = d.fpath
                            su.summernote('insertNode', imgNode);
                        },1);
                    }
                }
            })

            cget('/home/setting_get','#{id}','/home/setting_upd',1);
            // gr.flesh = function(){}
            // $('.click2edit').summernote('code');

        });


    
        