- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.topw
                        .row
                            .col-sm-1
                                %button.btn.btn-primary.btn-outline.newOne(data-href="contact/recruit_detail") new

                .sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    

                        


- block otherScript
    :javascript
        $(function(j){
            gr.updBefore = function(){
                
            }
            gr.getListAfter = function(d){
                $('input.i-checks').on('ifChanged',function(){
                    curl('/contact/recruit_upd',{id:$(this).parent().parent().attr('data-id'),top:this.checked?1:0},function(d){
                        curl_succ('success!');
                    });
                });
            }
            gr.flesh = function(){
                getList('/contact/recruit_lists')
            }
            
            gr.flesh();
        })
            
        
        
            
