- extends "base.haml"


- block body

    .wrapper.wrapper-content.animated.fadeInRight
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.text-center
                        -# 列表
                        .table-responsive(style="min-height: 500px;")
                            %table.table.table-striped
                                %thead
                                    %tr
                                        %th 
                                        %th.text-center 标题
                                        %th.text-center 考试时间
                                        %th.text-center 招考人数
                                        %th.text-center 显示
                                        %th.text-center 操作
                                %tbody
                                    %tr.hidden
                                        %td.data-id
                                            -# %input.i-checks(type="checkbox" name="ids[]" value="0")
                                        %td.data-title
                                        %td.data-time.text-center
                                        %td.data-number.text-center
                                        %td.data-status.text-center
                                            %input.i-checks(type="checkbox")
                                        %td.text-center
                                            %a.data-upd(href="info")
                                                %i.fa.fa-pencil.text-navy
                                                修改
                                            %a.data-del(href="#")
                                                %i.fa.fa-close.text-danger
                                                删除

                        -# 分页
                        


- block otherScript
    :javascript
        $(function(){
            var getList = function(page){
                page = page || 1;
                curl('/recruit/lists',{page:page},function(d){

                    var a = $('tr.data-block').remove();
                    for(var di in d.list){
                        var i = d.list[di];
                        var a = $('tr.hidden').clone();
                        a.removeClass('hidden').addClass('data-block');
                        // a.find('.data-id input').val(i.id);
                        a.find('.data-title').text(i.title);
                        a.find('.data-time').text(i.date+' '+i.time);
                        a.find('.data-number').text(i.number);
                        if(i.status === "1")a.find('.data-status input').attr('checked','checked');
                        a.find('.data-status input').val(i.id);
                        a.find('.data-del').attr('data-id',i.id);
                        a.find('.data-upd').attr('href','info?'+i.id)
                        $('tbody').append(a);
                        
                    }
                    $('tr.data-block .i-checks').iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
                    $('tr.data-block .data-status input').on('ifChanged',function(){
                        change(this.value,this.checked?1:0)
                    });
                    $('tr.data-block .data-del').on('click',function(){
                        var that = this;
                        curl_check(function(){
                            del($(that).attr('data-id'))
                        })
                    });
                    $('.page').remove();
                    pagement(d.page,parseInt( ( d.max - 1 )/d.limit ) + 1,function(p){
                        getList(p);
                    }).appendTo('.ibox-content')

                })

            },change = function(id,status){
                curl('/recruit/change',{id:id,status:status},function(d){
                    curl_succ('success!');
                });
            },del = function del(id){
                curl('/recruit/del',{id:id},function(d){
                    curl_succ('success!');
                });
            };
            
            getList()
        })
        