- extends "base.haml"


- block body


    .wrapper.wrapper-content.animated.fadeInRight
        .row
            .col-sm-12.col-md-7
                .ibox.float-e-margins
                    .ibox-content
                        .row
                            .col-sm-12.b-r
                                %h3.m-t-none.m-b 发布招生考试信息
                                
                                %form.form-horizontal(role="form")
                                    .form-group
                                        %label.col-sm-2.control-label 名称*
                                        .col-sm-6
                                            %input.form-control(type="text" placeholder="" name="name" required)
                                    .form-group
                                        %label.col-sm-2.control-label 时间*
                                        .col-sm-4
                                            %input.form-control(type="text" placeholder="" name="time" required)
                                    .form-group
                                        %label.col-sm-2.control-label 地点*
                                        .col-sm-10
                                            %input.form-control(type="text" placeholder="" name="address" required)
                                    .form-group
                                        %label.col-sm-2.control-label 人数*
                                        .col-sm-2
                                            %input.form-control(type="text" placeholder="" name="number" required)
                                    .form-group
                                        %label.col-sm-2.control-label 考试说明*
                                        .col-sm-10
                                            %textarea.form-control(name="comment" required rows="10" style="resize:vertical")
                                    .form-group
                                        %label.col-sm-2.control-label 
                                        .col-sm-10
                                            %button.btn.btn-sm.btn-primary.pull-left.m-t-n-xs(type="submit")
                                                %strong 发 布
                                        
                           
                            