- extends "base.haml"


- block body

    .wrapper.wrapper-content.animated.fadeInRight
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.text-center
                        .table-responsive(style="min-height: 500px;")
                            %table.table.table-striped
                                %thead
                                    %tr
                                        %th 
                                        %th.text-center 家长名字
                                        %th.text-center 学生名字
                                        %th.text-center 联系电话
                                        %th.text-center 学生年龄
                                        %th.text-center 操作
                                %tbody
                                    %tr.hidden
                                        %td.data-id
                                            -# %input.i-checks(type="checkbox" name="ids[]" value="0")
                                        %td.data-parent_name.text-center
                                        %td.data-student_name.text-center
                                        %td.data-phone.text-center
                                        %td.data-age.text-center
                                        %td.text-center
                                            %a.data-upd(href="info")
                                                %i.fa.fa-pencil.text-navy
                                                修改
                                            %a.data-del(href="#")
                                                %i.fa.fa-close.text-danger
                                                删除

- block otherScript
    :javascript
        $(function(){
            var getList = function(page){
                page = page || 1;
                curl('/recruit/slists',{page:page},function(d){

                    var a = $('tr.data-block').remove();
                    for(var di in d.list){
                        var i = d.list[di];
                        var a = $('tr.hidden').clone();
                        a.removeClass('hidden').addClass('data-block');
                        // a.find('.data-id input').val(i.id);
                        a.find('.data-parent_name').text(i.parent_name);
                        a.find('.data-student_name').text(i.student_name);
                        a.find('.data-phone').text(i.phone);
                        a.find('.data-age').text(i.age);
                        a.find('.data-del').attr('data-id',i.id);
                        a.find('.data-upd').attr('href','sinfo?'+i.id)
                        $('tbody').append(a);
                        
                    }
                    
                    $('tr.data-block .data-del').on('click',function(){
                        var that = this;
                        curl_check(function(){
                            del($(that).attr('data-id'))
                        })
                    });
                    $('.page').remove();
                    pagement(d.page,parseInt( ( d.max - 1 )/d.limit ) + 1,function(p){
                        getList(p);
                    }).appendTo('.ibox-content')

                })

            },del = function del(id){
                curl('/recruit/sdel',{id:id},function(d){
                    curl_succ('success!');
                    setTimeout("location.reload(true)",1000)
                });
            }
            getList()
        })
        