- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.topw
                        .row
                            .col-sm-1
                                %button.btn.btn-primary.btn-outline.newOne(data-toggle="button" type="button" aria-pressed="true") new
                            .col-sm-2
                                %select.form-control.m-b.typeChange
                                    %option(value="0") #{lang.adminIndex.all}
                            .col-sm-3
                                %form.input-group
                                    %input.form-control
                                    %span.input-group-btn
                                        %button.btn.btn-primary.search(type="submit") 搜索

                .sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input.form-control(type="hidden" name="id")
                        .form-group
                            %label.col-sm-3.control-label type
                            .col-sm-9
                                %input.form-control(name="type")
                        .form-group
                            %label.col-sm-3.control-label name
                            .col-sm-9
                                %input.form-control(name="name")
                        .form-group
                            %label.col-sm-3.control-label cn
                            .col-sm-9
                                %input.form-control(name="cn")
                        .form-group
                            %label.col-sm-3.control-label en
                            .col-sm-9
                                %input.form-control(name="en")
                        
                        
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        $(function(){
            var type = 0;
            curl('/i18n/types',{},function(w){
                for(d in w.list)$('.typeChange').append(
                    $('<option>').text(w.list[d]).attr('value',w.list[d])
                )
                $('.typeChange').change(function(){
                    type = $(this).val();flesh();
                })
            });
            $('.topw form').bind('submit',function(){
                type = 0;$('.typeChange').val(0);
                flesh($(this).find('input').val());
                return false;
            })
            
            function flesh(s){
                s = s || '';
                getList('/i18n/lists',{type:type,search:s})
            }
            flesh();
        })