- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    :css
                        .topw .row>div{
                            padding-bottom:20px
                        }
                    .ibox-title.topw(style="padding-top:20px")
                        .row
                .load1.sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.mainList.float-e-margins

                .ibox.sendBox.float-e-margins
    
                    .ibox-content.tc.animated.fadeInLeft
                        %form.form-horizontal.animated(method="post" onsubmit="return false;")
                            .form-group
                                %label.col-sm-2.control-label 类型
                                .col-sm-2
                                    %select.form-control(name="type" value="1")
                                        %option(value="1") 代驾
                                        %option(value="2") 出租车
                                        %option(value="3") 顺风车
                            .form-group
                                %label.col-sm-2.control-label 优惠券
                                .col-sm-6
                                    %select.form-control(name="coupon_id")
                                        
                            
                            .form-group
                                .col-sm-1
                                .col-sm-2
                                    %button.btn.btn-primary.push.tl 赠送优惠券
                                            

- block otherCss
    %link(href="/css/plugins/summernote/summernote.css" rel="stylesheet")
    %link(href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet")

- block otherScript
    %script(src="/js/plugins/summernote/summernote.min.js")
    %script(src="/js/plugins/summernote/summernote-zh-CN.js")
    :javascript
        $(function(){

            var e = window.e = new Dmcat.admin('#{getList}')
            window.flesh = function(){
                e.flesh()
            }
            $('.allSend').iCheck({checkboxClass: 'icheckbox_square-green',radioClass: 'iradio_square-green'})

            $('[name="type"]').change(function(){
                var type = $(this).val()
                curl('admin_coupon_setting',{type:type},function(d){
                    var c = $('[name="coupon_id"]')
                    c.html('')

                    for(var i in d.list){
                        c.append('<option value="'+d.list[i].id+'">金额：'+d.list[i].money +'元 到期时间：'+ d.list[i].end_date +'</option>')

                    }

                })
            }).change()

            $('.push').on('click',function(){
                var f = {};
                for(var i in e.req.param)f[i]=e.req.param[i]
                delete f.page

                f.coupon_id = $('[name="coupon_id"]').val();
                if(!f.coupon_id){toastr['error']('请选择优惠券');return}
                curl('admin_coupon_send',f,function(){
                    curl_succ('赠送成功！')
                });
            })
        })
            
        
        
            
