- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    :css
                        .topw .row>div{
                            padding-bottom:20px
                        }
                    .ibox-title.topw(style="padding-top:20px")
                        .row
                .load1.sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.mainList.float-e-margins

                .ibox.sendBox.float-e-margins
    
                    .ibox-content.tc.animated.fadeInLeft
                        %form.form-horizontal.animated(method="post" onsubmit="return false;")
                            
                            .form-group
                                %label.col-sm-2.control-label 金额
                                .col-sm-2
                                    %input.form-control(name="money" value="" placeholder="0.00")
                            .form-group
                                %label.col-sm-2.control-label 到期时间
                                .col-sm-2
                                    %input.form-control.end_time(id="end_time" name="end_time" value="" placeholder="YYYY-MM-DD")
                            .form-group
                                %label.col-sm-2.control-label 类型
                                .col-sm-2
                                    %select.form-control(name="type")
                                        %option(value="1") 代驾
                                        %option(value="2") 出租车
                                        %option(value="3") 顺风车
                            .form-group
                                .col-sm-1
                                .col-sm-2
                                    %button.btn.btn-primary.push.tl 赠送优惠券
                                            

- block otherCss
    %link(href="/css/plugins/summernote/summernote.css" rel="stylesheet")
    %link(href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet")

- block otherScript
    %script(src="/js/plugins/summernote/summernote.min.js")
    %script(src="/js/plugins/summernote/summernote-zh-CN.js")
    :javascript
        $(function(){
            laydate({elem:'#end_time',type:'datetime',event:"focus",choose:function(e){
                $(this.elem).keyup()
            }});
            var e = window.e = new Dmcat.admin('#{getList}')
            window.flesh = function(){
                e.flesh()
            }
            $('.allSend').iCheck({checkboxClass: 'icheckbox_square-green',radioClass: 'iradio_square-green'})

            $('.push').on('click',function(){
                var f = {};
                for(var i in e.req.param)f[i]=e.req.param[i]
                delete f.page

                f.money = $('[name="money"]').val();
                f.type = $('[name="type"]').val();
                f.end_time = $('[name="end_time"]').val();
                if(!f.money){toastr['error']('金额不能为空');return}
                if(!f.end_time){toastr['error']('到期时间不能为空');return}
                curl('admin_coupon_send',f,function(){
                    curl_succ('赠送成功！')
                });
            })
        })
            
        
        
            
