- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.topw
                        .row
                            .col-sm-1
                                %button.btn.btn-primary.btn-outline.newOne(data-toggle="button" type="button" aria-pressed="true") new

                .sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog
            .modal-content.animated.fadeInDown
                .modal-header
                    %button.close(type="button" data-dismiss="modal" aria-label="Close")
                        %span(aria-hidden="true") &times;
                        %span.sr-only Close
                    %h4.modal-title 
                    %small.font-bold
                .modal-body
                    .sk-spinner.sk-spinner-wave.animated
                        .sk-rect1
                        .sk-rect2
                        .sk-rect3
                        .sk-rect4
                        .sk-rect5
                    %form.form-horizontal.animated(method="post")
                        %input.form-control(type="hidden" name="id")
                        
                        .form-group
                            %label.col-sm-3.control-label 标题/Title
                            .col-sm-9
                                %input.form-control(name="title")
                        .form-group
                            %label.col-sm-3.control-label 简介/short message
                            .col-sm-9
                                %input.form-control(name="short_message")
                        .form-group
                            %label.col-sm-3.control-label 详细内容/content
                            .col-sm-9
                                %textarea.form-control(name="content" style="resize:vertical" rows="10")
                        .form-horizontal
                            .hr-line-dashed
                            .form-group
                                %label.col-sm-3.control-label
                                    %p 选择学生
                                    %p Choose Student
                                .col-sm-3
                                    %select.form-control(name="classes_id")
                            
                                .col-sm-3
                                    %select.form-control(name="student_id")
                    
                    
                .modal-footer
                    %button.btn.btn-default(type="button" data-dismiss="modal") Close
                    %button.btn.btn-primary.save(type="button") Save

                        


- block otherScript
    :javascript
        $(function(){
            classes = 0;
            window.gr.getListAfter = function(){
                $('.eisshow input.i-checks').on('ifChanged',function(){
                    curl('/notice/upd',{id:$(this).parent().parent().attr('data-id'),isshow:this.checked?1:0},function(d){
                        curl_succ('success!');
                    });
                });
                $('.eneed_confirm input.i-checks').on('ifChanged',function(){
                    curl('/notice/upd',{id:$(this).parent().parent().attr('data-id'),need_confirm:this.checked?1:0},function(d){
                        curl_succ('success!');
                    });
                });
                curl('/classes/lists',{school_id:1},function(w){
                    $('[name="classes_id"]').append($('<option>').text('All').attr('value','0'));
                    for(d in w.list)$('[name="classes_id"]').append($('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id));
                    $('[name="classes_id"]').val('0')
                    $('[name="classes_id"]').change(function(){
                        var classes = $(this).val();
                        if(!classes)return;
                        $('[name="student_id"]').unbind('change').html('');
                        if(classes != 0){
                            curl('/student/lists',{classes_id:classes},function(w){
                                $('[name="student_id"]').append($('<option>').text('All').attr('value','0'));
                                for(d in w.list)$('[name="student_id"]').append($('<option>').text(w.lang=='cn'?w.list[d].name:w.list[d].name_en).attr('value',w.list[d].id));
                                if($('[name="student_id"]').attr('data-value'))$('[name="student_id"]').val($('[name="student_id"]').attr('data-value')).attr('data-value','');
                            })
                        }
                    });
                    $('[name="classes_id"]').change();

                });
            }
            
            function flesh(){

                getList('/notice/lists')
            }

            flesh();
            
        })