- extends "base.1.haml"



- block siteInfo
    %title #{g.title}
    %meta(name="keywords" content="#{g.keywords}")
    %meta(name="description" content="#{g.description}")


- block body

    #app
        {{ message }}
    #app-2
        %span(v-bind:title="message")
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
    #app-4
        %ol
            %li(v-for="todo in todos")
                {{ todo.text }}
    #app-5
        %p {{ message }}
        %button(v-on:click="reverseMessage") 逆转消息
    #app-6"
        %p {{ message }}
        %input(v-model="message")

    #app-7
        %ol
            %todo-item(v-for="item in groceryList" v-bind:todo="item")

    :javascript
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载于 ' + new Date()
            }
        })
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: '学习 JavaScript' },
                    { text: '学习 Vue' },
                    { text: '整个牛项目' }
                ]
            }
        })
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
                }
            }
        })
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        })
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        })
        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { text: '蔬菜' },
                    { text: '奶酪' },
                    { text: '随便其他什么人吃的东西' }
                ],
                item:"123"
            }
        })

  