- extends "base.haml"



- block siteInfo
    %title #{g.title}
    %meta(name="keywords" content="#{g.keywords}")
    %meta(name="description" content="#{g.description}")


- block body
    #example
        123


    :javascript

        let a,b,c,d,f;

        c = function(){
            a=new WebSocket('ws://121.199.8.244:7777/user')
            
            a.onopen = function(){
                console.log('user 连接成功')
                a.send('{"type":"login","latitude":"31.20139500","longitude":"121.26741200","user_token":"QuK6Vn+A2SM1VUK/Fk/wLc1cLgbKL0S6SmylcE5fYvRsy6Kt7/R8xh35lbpOunTRMcXfdEiBqbnpnWRsHtHGx9NdrN/JsfvMLfijNNZLV/To="}')
            }
            
            a.onclose = function(){
                console.log('user 2秒后重连')
                setTimeout(c,2000)
            }
        }
        d = function(){
            b=new WebSocket('ws://121.199.8.244:7777/driver')
            b.onopen = function(){
                console.log('driver 连接成功')
                b.send('{"type":"login","latitude":"31.20139500","longitude":"121.26741200","driver_token":"BJrcezGr/UlWYndGsIjn9pQK6aA5w6mJzmSc8klUtGduIqQdEO0shz8h+Bc86Ot/jVDdZs1QQoXk6WGlHdoPCLUeaNQS0uukQbR2LKwYgImA="}')
            }
            b.onclose = function(){
                console.log('driver 2秒后重连')
                setTimeout(d,2000)
            }
        }

        g = function(){
            f=new WebSocket('ws://121.199.8.244:7777/admin')
            f.onopen = function(){
                console.log('admin 连接成功')
                f.send('{"type":"login","id":"1","token":"mm"}')
            }
            f.onclose = function(){
                console.log('admin 2秒后重连')
                setTimeout(g,2000)
            }
        }
        
        c();d();g();
        

        if(0){
            e = {
                type:'askForDriving',
                start_latitude:'31.20139500',
                start_longitude:'121.26741200',
                end_latitude:'31.22170600',
                end_longitude:'121.47264400',
                start_name:'开始位置',
                end_name:'结束位置',
                distance:'100.22',
                estimated_price:'500.22',
                city_id:'4522864'
            };
            str = JSON.stringify(e)
            a.send(str)
        }

  