- extends "base.haml"

- block siteInfo
    %title Music~(*-ω-)ﾄﾞｷ

- block body
    :css
        body { margin: 0;overflow: hidden;}
        canvas{ width: 100%; height: 100% }
    %script(src="/js/three.min.js")
    
    .pf
        %input(type="file")
        %p(style="color:white") 0
    %script(src="/js/audioJS.js")
    %script(src="/js/audio_action2.js")
        