- extends "base.haml"

- block siteInfo
    %title Music~(*-ω-)ﾄﾞｷ

- block body
    %link(rel="stylesheet" href="/css/font-awesome.min.css")
    :css
        body { margin: 0;overflow: hidden;}
        canvas{ width: 100%; height: 100% }
        .bar{
            height:3px;width:200px;background-color:#fff;box-shadow:0 0 2px inset;z-index:1
        }
        .bar::after {
            content: ' ';width: 100%;height: 22px;position: absolute;display: block;top: -10px;left: 0;
        }
        .barr{
            height:100%;width:0px;background-color:red;
        }
        .control{
            width:200px
        }
        .control i{color:#fff;margin:15px}
        .control i:hover{color:red}
        .fa-list{left:-15px}
        .volume{
            height:36px;width:3px;background-color:red;box-shadow:0 0 2px inset;top: -4px;right: -14px;
        }
        .volume::after {
            content: ' ';width: 22px;height: 100%;position: absolute;display: block;top:0px;left: -10px;
        }
        .vol{
            height:0;width:100%;background-color:#fff;
        }
        .title p{
            color:#fff
        }
        .pf.top{width: 100%; height: 100%}
        .pf.mlist{
            width: 200px;height: 50%;top: 25%;left: 10%;background-color:white;opacity:0.6;overflow-y:scroll;overflow-x: hidden;
        }
        .pf.mlist.vn{opacity:1}
        .ntop i{
            margin:5px 10px
        }
        .nlist li{
            padding:0 10px;background-color:white;
        }
        .nlist li i{
            font-style: normal;color:#666;font-size:10px;margin:10px auto
        }
        .nlist li i.del{
            display:none
        }
        .nlist li.active{
            background-color:#ffa4a4;
        }
        .nlist li:hover{
            background-color:#ff7575;
        }
        .nlist li:hover i,.nlist li.active i{
            overflow:inherit;
            text-overflow: inherit;
            white-space: inherit;
            color:white;display:inline-block;
        }
    %script(src="/js/three.min.js")
    %input.dn(type="file" accept="audio/*" multiple="multiple")
    .pf.top.dt
        .dtc.vm.tc
            .title.center-block
                %p NaN
            .test.center-block
                %p 0
            .bar.pr.center-block.cp
                .barr.pa
            .control.pr.center-block
                %i.fa.fa-list.pa.cp.t
                %i.fa.fa-step-backward.cp.t
                %i.fa.fa-play.cp.t.dplay
                %i.fa.fa-pause.dn.cp.t.dplay
                %i.fa.fa-step-forward.cp.t
                .volume.dib.pa.cp
                    .vol.pa
    .pf.mlist.dn.t
        .ntop
            %i.fa.fa-plus.cp
        %ul.nlist.list-unstyled
            

        .nscroll


            

    %script(src="/js/audioe.js")
    %script(src="/js/audio_action2.js")
        
        