!!!
%html
  %head
    - block head
      %meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
      %meta(http-equiv="X-UA-Compatible" content="IE=edge")
      %meta#viewport(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport")
      
      - block siteInfo
        %title

      %link(rel="stylesheet" href="/css/m.css")
      - block css
        / block css
      %script(src="//cdn.bootcss.com/vue/2.3.3/vue.min.js")

  %body
    - block body
      / block body

    


      