!!!
%html
  %head
    - block head
      %meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
      %meta(http-equiv="X-UA-Compatible" content="IE=edge")
      %meta#viewport(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,shrink-to-fit=no" name="viewport")
      
      - block siteInfo
        %title
        %meta(name="keywords" content="")
        %meta(name="description" content="")

      %link(rel="stylesheet" href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
      %link(rel="stylesheet" href="//cdn.bootcss.com/tether/1.4.0/css/tether.min.css")
      %link(rel="stylesheet" href="/css/m.css")
      - block css
        / block css
      %script(src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
      %script(src="//cdn.bootcss.com/tether/1.4.0/js/tether.min.js")
      %script(src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js")
      %script(src="/js/m.js")
      - block js
        / block js
  %body
    - block body
      / block title

    


      