<?php include(VIEW_ROOT.'App/Common/header.php');?>
<?php include(VIEW_ROOT.'App/Common/navigation.php');?>

<div class="w-1200">
    <div class="content-top">
        <span>联系我们</span>
        <form method="get" onsubmit="return false;">
            <input type="search" placeholder="输入关键字"/>
        </form>
    </div>
    <div class="this-address">首页 > 联系我们 > 德汇招聘</div>
    <div class="main-content">
        <?php include(VIEW_ROOT.'App/CountUs_left.php');?>
        <div class="content-right" style="position: relative;">
            <div class="content-title">德汇人才观</div>
            <div class="d-h-r-c-g-r">为每位员工提供施展才华的舞台和机会，通过梯队建设体系保持人才发展优势！</div>
            <div class="d-h-r-c-g-c">
                公司鼓励员工专精所长，为不同类型人员提供平等晋升机会，给予员工充分的职业发展空间。<br/>
                公司根据各岗位工作性质的不同，设立不同的职业发展通道，使从事不同岗位工作的员工均有可持续发展的职业发展通道。
            </div>
            <div class="content-title" style="margin-top: 20px;">德汇人才培养机制</div>
            <div class="d-h-r-c-g-c">
                每一岗位对应一种职业发展通道，随着员工技能与绩效的提升，可以在各自的通道内获得平等的晋升机会。<br/>
                考虑公司发展需要、员工个人实际情况及职业兴趣，员工在不同通道之间有转换机会，但转换必须符合各职系相应职务任职条件，并按公司相关制度执行。如果员工的岗位发生变动，其级别根据新岗位确定。
            </div>
            <img id="rc_people" src="/Home/images/people.png"/>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".product_title").click(function () {
            var obj = $(this);
            if (obj.hasClass("show")) {
                obj.removeClass("show").next().css("display", "none");
            } else {
                obj.addClass("show").next().css("display", "block");
            }
        });
    });
</script>
<?php include(VIEW_ROOT.'App/Common/common_footer.php');?>
<?php include(VIEW_ROOT.'App/Common/footer.php');?>