- extends "base.haml"



- block siteInfo
    %title Yoooo~(*-ω-)ﾄﾞｷ

- block body
    :css
        h1{
            padding-top:200px;
            padding-bottom:100px
        }
    .container
        %h1 Yoooo!
        %h5
            %a(href="/theme/week2") 节目单
        %h5
            %a(href="http://b.yoooo.co/my/chat") 匿名
        %h5
            %a(href="/my/video") 伪·直播
        %h5
            %a(href="/my/audio") 音乐播放器（坑）
        %h5
            %a(href="/my/audio") 音乐播放器（测试）
        %h5
            %a(href="http://loli.vip/") 萝莉图鉴
        %h5
            %a(href="https://telegram.me/joinchat/Dwi0JAl0Z784FXc04g2xrQ") Telegram频道(自备梯子)
        %br
        %h5
            %a(href="http://www.chibimaru.org/") 丸子家族
        %h5
            %a(href="http://www.moebaka.com/") 呆萌大家族
        %h5
            %a(href="https://share.acgnx.se/") ACGNX 末日動漫資源庫
        %h5
            %a(href="http://www.bt2333.com/") BT动漫论坛
        %br
        %h6
            %p 17/5/24 新做了一个播放器，正在调试...
            %p 
            %p 17/5/17 把之前坑掉的网页音乐播放器给坑回来了，音量调节被吃掉了。
            %p 近期也许会开始改这个东西，鼠标移动到左上角会有个选择文件的东西，随便选择mp3就能放了
    
