- extends "base.haml"



- block siteInfo
    %title Yoooo~(*-ω-)ﾄﾞｷ

- block body
    :css
        h1{
            padding-top:200px;
            padding-bottom:100px
        }
    .container
        %h1 Yoooo!
        %h5
            %a(href="/theme/week2") 节目单
        %h5
            %a(href="http://b.yoooo.co/my/chat") 匿名(坑)
        %h5
            %a(href="/my/video") 伪·直播
        %h5
            %a(href="/my/audio") 音乐播放器（坑|旧）
        %h5
            %a(href="/my/audio2") 音乐播放器（新|调试中）
        %h5
            %a(href="http://loli.vip/") 萝莉图鉴
        %h5
            %a(href="https://t.me/yoooo_chat") Telegram
        %br
        %h5
            %a(href="http://qiukong.com/") 秋空
        %h5
            %a(href="http://www.chibimaru.org/") 丸子家族
        %h5
            %a(href="http://www.moebaka.com/") 呆萌大家族
        %h5
            %a(href="https://share.acgnx.se/") ACGNX 末日動漫資源庫
        %h5
            %a(href="http://www.bt2333.com/") BT动漫论坛
        %h5
            Email：cat#4moe.com
        %h5
            闲聊x填坑群：232130637
        %br
        %h6
            %p 17/5/28 播放器简单的做了大概的样子，有些效果也没有加，代码也比较乱orz，左右后退快进，上下调节音量，M切换列表
            %p 整体并不满意，暂停播放音量渐变还没做，列表暂时还没有其他好的想法（允许拖动也准备加上好了）。
            %p 频谱那里虽然是3D的，中间看也看不出什么东西，鼠标动一动效果会好点，但也仅仅是这样。也许会觉得很淡，但是深点就觉得不好看了（看的好累啊）。
            %p 事前准备做的像MMD一样，弄个背景墙，中间有几只妹子什么的（想法不错，摔！）。
            %p 如果有好玩的想法，可以联系我(。・・)ノ
            %p 17/5/24 新做了一个播放器，正在调试...
            %p 
            %p 17/5/17 把之前坑掉的网页音乐播放器给坑回来了，音量调节被吃掉了。
            %p 近期也许会开始改这个东西，鼠标移动到左上角会有个选择文件的东西，随便选择mp3就能放了
    
