- extends "base.haml"



- block siteInfo
    %title Yoooo~(*-ω-)ﾄﾞｷ

- block body
    :css
        h1{
            padding-top:200px;
            padding-bottom:100px
        }
    .container
        %h1 Yoooo!
        %h5
            %a(href="/theme/week2") 节目单
        %h5
            %a(href="http://b.yoooo.co/my/chat") 匿名
        %h5
            %a(href="/my/chat") 伪·直播
        %h5
            %a(href="http://loli.vip/") 萝莉图鉴
        %h5
            %a(href="https://telegram.me/joinchat/Dwi0JAl0Z784FXc04g2xrQ") Telegram频道(自备梯子)
        %br
        %h5
            %a(href="http://www.chibimaru.org/") 丸子家族
        %h5
            %a(href="http://www.moebaka.com/") 呆萌大家族
        %h5
            %a(href="https://share.acgnx.se/") ACGNX 末日動漫資源庫
        %h5
            %a(href="http://www.bt2333.com/") BT动漫论坛
        %br
        %h6
            %p 17/2/25 三个月来第一次更新了一下orz，没错b.yoooo.co基本没有更新了，只保留了一个匿名聊天版，其他作废，有人没准会找到某个资源列表，嘛~~实际也不更新了,移步节目单。
            %p 当前状态，有个匿名聊天板块，有个同步本地视频进度实现多人一起看xx片的板块，有个动画的节目单
            %p 说一下节目单...
            %p 节目单的功能：实时显示最新更新的动画的资源，列出所有能够下载/观看的地方
            %p 当前收录的资源有b站和acgnx，如果懒癌不犯的话会加入更多，当然也可以联系我把你家告诉我，这边超链接到你那边
            %p 对了，还有个什么什么书签什么什么直连的。ps.ex_key已经作废了
    :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55383282-4', 'auto');
        ga('send', 'pageview');
