- extends "base.haml"



- block siteInfo
    %title Yoooo~(*-ω-)ﾄﾞｷ

- block body
    :css
        h1{
            padding-top:200px;
            padding-bottom:100px
        }
    %script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5993495781036340" crossorigin="anonymous")
    .container
        %h1 Yoooo!
        %h5
            %a(href="/theme/week2") 节目单
        %h5
            %a(href="/my/video") 伪·直播
        %h5
            %a(href="/my/audio") 音乐播放器（坑）
        %h5
            %a(href="/my/audio2?step=2") 新音乐播放器（坑）
        %h5
            %a(href="https://blog.yoooo.co") Blog
        %h5
            %a(href="https://t.me/yoooo_chat2") Telegram群组
        %br
        %h5
            %a(href="https://qiukong.com") 肥宅之家
        
        %h5
            %a(href="https://www.moebaka.com/") 呆萌大家族
        %h5
            %a(href="https://share.acgnx.se/") ACGNX 末日動漫資源庫
        
        %h5
            Email：cat#4moe.com
        %h5
            闲聊x填坑群：232130637
        %br

            
