<?php include(VIEW_ROOT.'App/Common/header.php');?>
<?php include(VIEW_ROOT.'App/Common/navigation.php');?>
<div class="w-1200">
    <div class="content-top">
        <span>新闻中心</span>
        <form method="get" onsubmit="return false;">
            <select>
                <option value="">选择年份</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
            </select>
            <input type="search" placeholder="输入关键字"/>
        </form>
    </div>
    <div class="this-address">首页 > 新闻中心 > 集团要闻</div>
    <div class="main-content">
        <?php include(VIEW_ROOT.'App/News_left.php');?>
        <div class="content-right">
            <div class="content-title">集团要闻</div>
            <volist name="list" id="info" empty="">
                <if condition="$i eq 1">
                    <div class="newsContent first" data-id="{$info.info_id}">
                        <img src="/Home/images/index/jtyw.png">
                        <h1>{$info.info_title}</h1>
                        <h2>{$first.info_s_content}</h2>
                        <span>{$first.info_time}</span>
                    </div>
                <else/>
                    <div class="newsContent" data-id="{$info.info_id}"><em>●</em><h3>{$info.info_title}</h3><span>{$info.info_time}</span></div>
                </if>
            </volist>
            <div id="page_content">
                {$page}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".newsContent").click(function () {
            var id = $(this).attr('data-id');
            if (!id) {
                return false;
            }
            window.open("/Home/News/newsInfo/id/" + id);
        });
    });
</script>
<?php include(VIEW_ROOT.'App/Common/common_footer.php');?>
<?php include(VIEW_ROOT.'App/Common/footer.php');?>