<?php include(VIEW_ROOT.'App/Common/header.php');?>
<?php include(VIEW_ROOT.'App/Common/navigation.php');?>
<div class="w-1200">
    <div class="content-top">
        <span>新闻中心</span>
        <form method="get" onsubmit="return false;">
            <select>
                <option value="">选择年份</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
            </select>
            <input type="search" placeholder="输入关键字"/>
        </form>
    </div>
    <div class="this-address">首页 > 新闻中心 > 媒体聚焦</div>
    <div class="main-content">
        <?php include(VIEW_ROOT.'App/News_left.php');?>
        <div class="content-right">
            <div class="content-title">媒体聚焦</div>
            <volist name="list" id="info" empty="">
                <div class="news-special-content">
                    <div class="special-left">{$info.time_date}<em>{$info.time_year}</em></div>
                    <img src="{$info.info_picture}">
                    <div class="special-right">
                        <a href="/Home/News/mediaInfo/id/{$info.info_id}"><h1>{$info.info_title}</h1></a>
                        <h2>{$info.info_s_content}</h2>
                    </div>
                </div>
            </volist>
            <div id="page_content">
                {$page}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<?php include(VIEW_ROOT.'App/Common/common_footer.php');?>
<?php include(VIEW_ROOT.'App/Common/footer.php');?>