!!!
%html
    %head
        %meta(charset="UTF-8")
        %title 报到
        %meta#viewport(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport")
        %link(rel="stylesheet" href="/recruit/css/reset.css")
        %link(rel="stylesheet" href="/recruit/css/kszl.css")

    %body
        .zl-main
            %a.enter(href="javascript:ef();") 扫描/Scanning
            

        %script(src="/recruit/js/main.js")
        %script(src="/js/jquery.min.js?v=2.1.4")
        %script(src="/js/m.js")
        %script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
        :javascript
            wx.config({
                debug: false,
                appId: '#{appId}',
                timestamp: #{timestamp},
                nonceStr: '#{nonceStr}',
                signature: '#{signature}',
                jsApiList: ['scanQRCode']
            });
            function ef(){
                wx.scanQRCode({
                    needResult: 1,
                    scanType: ["qrCode","barCode"],
                    success: function (res) {
                        
                        location = 'attend?code=' + res.resultStr
                    }
                });
            }
            
