
body{
    margin-bottom: 0.2rem
}
.course{
    height:0.8rem;
    clear: both;
    overflow: hidden;
}
.course p{
    float: left;
    width:1.2rem;
    font-size: 0.25rem;
    line-height:0.4rem;
    height:0.8rem;
    background: #3982b7;
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}
.course ul{
    float: right;
    height:0.8rem;
    background: #5da3d7;
    width:4.6rem;
    border-radius: 3px;
}
.course ul li{
    line-height: 0.4rem;
    font-size: 0.25rem;
    color: #ffffff;
    width:0.92rem;
    text-align: center;
    float: left;
    /*display: inline-block;*/
}
.courseName{
    margin-top:0.2rem;
    /*height:0.6rem;*/
    clear: both;
    overflow: hidden;
}
.courseName p{
    float: left;
    width:1.2rem;
    font-size: 0.25rem;
    line-height:0.6rem;
    /*height:0.6rem;*/

    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}
.courseName:nth-child(even) p{
    background: url("../img/cd_03.png") no-repeat center;
    background-size:1.2rem 100%;
}
.courseName:nth-child(odd) p{
    background: url("../img/cd_06.png") no-repeat center;
    background-size:1.2rem 100%;
}
.courseName ul{
    float: right;
    /*height:0.6rem;*/
    background: #f4f4f4;
    width:4.6rem;
    border-radius: 3px;
}
.courseName ul li{
    line-height: 0.6rem;
    font-size: 0.25rem;
    width:0.92rem;
    text-align: center;
    /*float: left;*/
    display: inline-block;
}
/*.courseName:nth-child(8){
    margin-bottom: 0.2rem
}*/
