body{
    width:100%;
}
.layout{
    width:6rem;
    margin:auto;
}
h1{

    width:100%;
    height:0.6rem;
    line-height:0.6rem;
    font-size: 0.3rem;
    color: #1b2b69;
}
.menu{
    width:100%;
    min-height:1.7rem;
    margin-top:0.4rem;
    clear: both;
}
.menu p{
    float: left;
    width:1.3rem;
    /*height:0.5rem;*/
    line-height:0.3rem;
    font-size: 0.25rem;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    /*padding-top:0.1rem;*/
}
.menu:nth-child(even) p{
    background:url("../img/cd_03.png") no-repeat center;
    background-size:1.3rem 100%;
}
.menu:nth-child(odd) p{
    background:url("../img/cd_06.png") no-repeat center;
    background-size:1.3rem 100%;
}
.menu ul{
    width:4.2rem;
    float: right;
    background: #f4f4f4;
    margin-bottom:0.3rem;
    padding:0.2rem 0.2rem;
    min-height: 70px;
}
.menu ul li{
    float: left;
    font-size: 0.25rem;
    line-height:0.5rem;
    /*width:1.5rem;*/
    text-align: left;
    margin-right:0.2rem;
}