.xq-main{
    width:6rem;
    margin:auto;
}
h1{
    width:100%;
    height:0.8rem;
    line-height: 0.8rem;
    text-align: center;
    font-size: 0.35rem;
    color: #111112;
}
p{
    font-size: 0.24rem;
    color: #1b2b69;
    line-height: 0.5rem;
}
p span{
    color: #6f6f6f;
}
p em {
    color: red;
    font-size: 0.3rem;
}