body{
    background: #f4f4f4;
    width:100%;
}
.voteactive{
    background: #ffffff;
}
.Organizers,.
.xuanze{
    width:100%;
}
.xuanze p{
    width:6.0rem;
    margin:auto;
    font-size: 0.15rem;
    line-height:0.6rem;
    color: #1b2b69;
}
.xuanze p span{
    float: right;
    display: block;
}
.attend{
    display: block;
    height:0.8rem;
    background: #f4f4f4;
    border-bottom:1px solid #ffffff;
    font-size: 0.25rem;
    line-height:0.8rem;
    padding:0.2rem;
}