!!!
%html
    %head
        %meta(charset="utf-8")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        %meta(name="renderer" content="webkit")
        %meta(http-equiv="Cache-Control" content="no-siteapp")
        %title #{_title}
        %meta(name="keywords" content="#{_keywords}")
        %meta(name="description" content="#{_description}")
        %link(rel="shortcut icon" href="favicon.ico")
        %link(href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet")
        %link(href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet")
        %link(href="/css/plugins/iCheck/custom.css" rel="stylesheet")
        %link(href="/css/plugins/toastr/toastr.min.css" rel="stylesheet")
        %link(href="/css/animate.min.css" rel="stylesheet")
        %link(href="/css/style.min862f.css?v=4.1.0" rel="stylesheet")
        - block otherCss
            / block otherCss
    %body.gray-bg
        - block body
            / block body
        
        %script(src="/js/jquery.min.js?v=2.1.4")
        %script(src="/js/bootstrap.min.js?v=3.3.6")
        %script(src="/js/content.min.js?v=1.0.0")
        %script(src="/js/plugins/toastr/toastr.min.js")
        %script(src="/js/plugins/iCheck/icheck.min.js")
        :javascript
            $(function(){
                $('.historyGo').click(function(){
                    history.go(-1);
                })
            })
            function curl(url,data,func){
                $.post(url,data,function(d){
                    if(d.code != 200)toastr['error'](d.message);
                    else{
                        if(typeof func == 'function')func(d.data);
                    }
                },'json');
            }
            function curl_succ(message){

                toastr['success'](message);
            }
            function curl_check(d){

                toastr['warning']('You cannot roll back this operation. Click to Continue?','',{"onclick": d,"closeButton": true});
                
            }
            function gotoNewTag(addr,name){
                var d = window.top.$('.gotoTag a').text(name).attr('href',addr).click();
            }
            function pagement(page,max,e){
                var p = $('<div>').addClass('btn-group page');
                var pa = [];
                if(max<5)for(var i=1;i<=max;i++)pa.push(i);
                else if(page<3)for(var i=1;i<=5;i++)pa.push(i);
                else if(page+2>max)for(var i=max-4;i<=max;i++)pa.push(i);
                else for(var i=page-2;i<=page+2;i++)pa.push(i);

                $('<div>').addClass('btn btn-white').attr('type','button').append('<i class="fa fa-chevron-left"></i>').on('click',function(){e(1)}).appendTo(p);
                for(r in pa){
                    var q = pa[r];
                    var j = $('<div>').addClass('btn btn-white').attr('data-id',q);
                    if(q == page)j.addClass('active');
                    j.text(q).on('click',function(){e($(this).attr('data-id'))}).appendTo(p);
                }
                $('<div>').addClass('btn btn-white').attr('type','button').append('<i class="fa fa-chevron-right"></i>').on('click',function(){e(max)}).appendTo(p);
                return p;

            }
            function close(){

            }
            function gotoTag(addr,close){
                var e = window.top.$('iframe[data-id="'+addr+'"]');
                var that = window.top.$('.J_menuTab.active i');
                if(e.length)e[0].contentWindow.location.reload(true);
                window.top.$('.J_menuItem[href="'+addr+'"]').click();
                if(close){
                    that.click();
                }
            }
        - block otherScript
            / block otherScript
        