!!!
%html
    %head
        %meta(charset="utf-8")
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")
        %meta(name="renderer" content="webkit")
        %meta(http-equiv="Cache-Control" content="no-siteapp")
        %title 后台 - 主页
        %link(rel="shortcut icon" href="favicon.ico")
        %link(href="/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet")
        %link(href="/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet")
        %link(href="/css/animate.min.css" rel="stylesheet")
        %link(href="/css/style.min862f.css?v=4.1.0" rel="stylesheet")

    %body.fixed-sidebar.full-height-layout.gray-bg(style="overflow:hidden")
        #wrapper(style="overflow:hidden")
            /左侧导航开始
            %nav.navbar-default.navbar-static-side(role="navigation")
                .nav-close 
                    %i.fa.fa-times-circle
                .sidebar-collapse
                    %ul#side-menu.nav
                        %li.nav-header
                            .dropdown.profile-element
                                
                                %a.dropdown-toggle(data-toggle="dropdown" href="#")
                                    %span.clear
                                    %span.block.m-t-xs
                                        %strong.font-bold
                                            #{userInfo.name}
                                    %span.text-muted.text-xs.block
                                        超级管理员
                                        %b.caret

                                %ul.dropdown-menu.animated.fadeInRight.m-t-xs
                                    -# %li
                                    -#     %a.J_menuItem(href="form_avatar") 修改头像
                                    %li
                                        %a.J_menuItem(href="form_avatar") 修改个人信息

                                    %li.divider
                                    %li
                                        %a(href="/user/logout") 安全退出

                            .logo-element A+

                        %li
                            %a.J_menuItem(href="home/index")
                                %i.fa.fa-home
                                %span.nav-label 主页
                        %li
                            %a(href="#")
                                %i.fa.fa-users
                                %span.nav-label 家长管理
                                %span.fa.arrow
                            %ul.nav.nav-second-level
                                %li
                                    %a.J_menuItem(href="xxx1" data-index="1") 绑定新家长
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 管理家长
                        %li
                            %a(href="#")
                                %i.fa.fa-user
                                %span.nav-label 学校员工管理
                                %span.fa.arrow
                            %ul.nav.nav-second-level
                                %li
                                    %a.J_menuItem(href="xxx1" data-index="1") 经理管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 校长管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 行政管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 生活老师管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 特色老师管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 校医管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 市场部管理
                        
                        %li
                            %a(href="#")
                                %i.fa.fa-bookmark
                                %span.nav-label 学校、班级管理
                                %span.fa.arrow
                            %ul.nav.nav-second-level
                                %li
                                    %a.J_menuItem(href="xxx1" data-index="1") 学生档案管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 考勤记录
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 行政管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 生活老师管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 特色老师管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 校医管理
                                %li
                                    %a.J_menuItem(href="xxx2" data-index="2") 市场部管理
                        %li
                            %a(href="#")
                                %i.fa.fa-internet-explorer
                                %span.nav-label 学生管理
                                %span.fa.arrow
                            %ul.nav.nav-second-level
                                %li
                                    %a.J_menuItem(href="xxx1" data-index="1") 学生每日点评
                                %li
                                    %a.J_menuItem(href="xxx1" data-index="1") 学生账号管理
                                %li
                                    %a.J_menuItem(href="xxx1" data-index="1") 学生体检数据管理
                        %li
                            %a.J_menuItem(href="i18n")
                                %i.fa.fa-graduation-cap
                                %span.nav-label 学生出勤管理
                        %li
                            %a.J_menuItem(href="i18n")
                                %i.fa.fa-book
                                %span.nav-label 课程管理
                        %li
                            %a.J_menuItem(href="i18n")
                                %i.fa.fa-beer
                                %span.nav-label 菜单管理
                        %li
                            %a.J_menuItem(href="i18n")
                                %i.fa.fa-tags
                                %span.nav-label 学校通知管理
                        %li
                            %a(href="#")
                                %i.fa.fa-tag
                                %span.nav-label 在线报名
                                %span.fa.arrow
                            %ul.nav.nav-second-level
                                %li
                                    %a.J_menuItem(href="recruit/news" data-index="1") 发布招生考试信息
                                %li
                                    %a.J_menuItem(href="recruit/lists" data-index="1") 查看招生考试信息
                                %li
                                    %a.J_menuItem(href="recruit/slists" data-index="1") 查看报名记录

                        %li
                            %a.J_menuItem(href="i18n")
                                %i.fa.fa-internet-explorer
                                %span.nav-label 国际化设置
                        %li
                            %a.J_menuItem(href="i18n")
                                %i.fa.fa-user-secret
                                %span.nav-label 权限设置
                        %li.hidden.gotoTag
                            %a.J_menuItem(href="#")
                                %span.nav-label
                            

                        -# %li
                        -#     %a(href="mailbox")
                        -#         %i.fa.fa-envelope
                        -#         %span.nav-label 信箱
                        -#         %span.label.label-warning.pull-right 16
                        -#     %ul.nav.nav-second-level
                        -#         %li
                        -#             %a.J_menuItem(href="mailbox") 收件箱
                        -# %li
                        -#     %a(href="#")
                        -#         %i.fa.fa-edit
                        -#         %span.nav-label 表单
                        -#         %span.fa.arrow
                        -#     %ul.nav.nav-second-level
                        -#         %li
                        -#             %a.J_menuItem(href="form_basic") 基本表单
                        -#         %li 
                        -#             %a(href="#")
                        -#                 文件上传
                        -#                 %span.fa.arrow
                        -#             %ul.nav.nav-third-level
                        -#                 %li
                        -#                     %a.J_menuItem(href="form_webuploader") 百度WebUploader
                        -#         %li
                        -#             %a.J_menuItem(href="table_bootstrap")
                        -#                 Bootstrap Table
                        -#                 %span.label.label-danger.pull-right 推荐
            /左侧导航结束
            /右侧部分开始
            #page-wrapper.gray-bg.dashbard-1
                .row.border-bottom
                    %nav.navbar.navbar-static-top(role="navigation" style="margin-bottom: 0")
                        .navbar-header
                            %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href="#")
                                %i.fa.fa-bars
                            %form.navbar-form-custom(role="search" method="post" action="/search_results")
                                %div.form-group
                                    %input.form-control(type="text" placeholder="请输入您需要查找的内容 …" name="top-search" id="top-search")

                        %ul.nav.navbar-top-links.navbar-right
                            
                            %li.dropdown.hidden-xs
                                %a.right-sidebar-toggle(aria-expanded="false")
                                    %i.fa.fa-tasks
                                    主题

                .row.content-tabs
                    %button.roll-nav.roll-left.J_tabLeft
                        %i.fa.fa-backward

                    %nav.page-tabs.J_menuTabs
                        .page-tabs-content
                            %a.active.J_menuTab(href="javascript:;" data-id="home/index") 主页

                    %button.roll-nav.roll-right.J_tabRight
                        %i.fa.fa-forward

                    .btn-group.roll-nav.roll-right
                        %button.dropdown.J_tabClose(data-toggle="dropdown")
                            关闭操作
                            %span.caret

                        %ul.dropdown-menu.dropdown-menu-right(role="menu")
                            %li.J_tabShowActive
                                %a 定位当前选项卡
                            %li.divider
                            %li.J_tabCloseAll
                                %a 关闭全部选项卡
                            %li.J_tabCloseOther
                                %a 关闭其他选项卡

                    %a.roll-nav.roll-right.J_tabExit(href="/user/logout")
                        %i.fa.fa-sign-out
                        退出
                #content-main.row.J_mainContent
                    %iframe.J_iframe(name="iframe0" width="100%" height="100%" src="home/index" frameborder="0" data-id="home/index" seamless)
                .footer
                    .pull-right
                        &copy; 2017
                        %a(href="#")A +

            /右侧部分结束
            /右侧边栏开始
            #right-sidebar
                %div.sidebar-container
                    %ul.nav.nav-tabs.navs-3
                        %li.active
                            %a(data-toggle="tab" href="#tab-1")
                                %i.fa.fa-gear
                                主题
                    .tab-content
                        #tab-1.tab-pane.active
                            .sidebar-title
                                %h3
                                    %i.fa.fa-comments-o
                                    主题设置
                                %small
                                    %i.fa.fa-tim
                                    你可以从这里选择和预览主题的布局和样式，这些设置会被保存在本地，下次打开的时候会直接应用这些设置
                            .skin-setttings
                                .title 主题设置
                                .setings-item
                                    %span 收起左侧菜单
                                    .switch
                                        .onoffswitch
                                            %input#collapsemenu.onoffswitch-checkbox(type="checkbox" name="collapsemenu")
                                            %label.onoffswitch-label(for="collapsemenu")
                                                %span.onoffswitch-inner
                                                %span.onoffswitch-switch
                                .setings-item
                                    %span 固定顶部
                                    .switch
                                        .onoffswitch
                                            %input#fixednavbar.onoffswitch-checkbox(type="checkbox" name="fixednavbar")
                                            %label.onoffswitch-label(for="fixednavbar")
                                                %span.onoffswitch-inner
                                                %span.onoffswitch-switch

                                .setings-item
                                    %span 固定宽度

                                    .switch
                                        .onoffswitch
                                            %input#boxedlayout.onoffswitch-checkbox(type="checkbox" name="boxedlayout")
                                            %label.onoffswitch-label(for="boxedlayout")
                                                %span.onoffswitch-inner
                                                %span.onoffswitch-switch

                                .title 皮肤选择
                                .setings-item.default-skin.nb
                                    %span.skin-name
                                        %a.s-skin-0(href="#") 默认皮肤

                                .setings-item.blue-skin.nb
                                    %span.skin-name
                                        %a.s-skin-1(href="#") 蓝色主题
                                .setings-item.yellow-skin.nb
                                    %span.skin-name
                                        %a.s-skin-3(href="#") 黄色/紫色主题
            /右侧边栏结束-->

    %script(src="/js/jquery.min.js?v=2.1.4")
    %script(src="/js/bootstrap.min.js?v=3.3.6")
    %script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
    %script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
    %script(src="/js/plugins/layer/layer.min.js")
    %script(src="/js/hplus.min.js?v=4.1.0")
    %script(src="/js/contabs.min.js")
    %script(src="/js/plugins/pace/pace.min.js")
