- extends "base.haml"


- block body
    
    .wrapper.wrapper-content
        .row
            .col-sm-12
                #modal_new.ibox.float-e-margins
                    .ibox-title
                        %h3 集团简介
                    .ibox-content
                        %form.form-horizontal.animated(method="post")
                            .form-group
                                %label.col-sm-2.control-label 详情
                                .col-sm-9
                                    .summernote(data-name="content")
                            .form-group
                                %label.col-sm-2.control-label 详情(EN)
                                .col-sm-9
                                    .summernote(data-name="content_en")
                        .ibox-title
                            %button.btn.btn-primary.save(type="button") Save
    
- block otherCss
    %link(href="/css/plugins/summernote/summernote.css" rel="stylesheet")
    %link(href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet")

                        



- block otherScript
    %script(src="/js/plugins/summernote/summernote.min.js")
    %script(src="/js/plugins/summernote/summernote-zh-CN.js")
    :javascript
        $(function(j){
            upPic('/staff/upPic','.picFile','input[name="pic"]','.pic_img');
            j('.pic_img').click(function(){
                j('.picFile').click();
            })
            var su = j(".summernote").summernote({
                toolbar: [
                    ['style', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname',['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['height', ['height']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['e',['picture','link']],
                    ['o',['codeview']],
                ],
                height: 300,
                minHeight: 300,
                maxHeight: null,
                focus: true,
                lang:"zh-CN",
                callbacks: {
                    onImageUpload: function(files) {
                        curl('/staff/upPic',packFormData(files),function(d){
                            var imgNode = new Image
                            imgNode.src = d.fpath
                            su.summernote('insertNode', imgNode);
                        },1);
                    }
                }
            })

            cget('/enter/introduction_get',0,'/enter/introduction_upd',1);
            // gr.flesh = function(){}
            // $('.click2edit').summernote('code');

        });


    
        