- extends "base.haml"



- block siteInfo
  %title = title



- block body
  :css
    body{
      background-color:#f0f0f0;
    }
    #outting{
      margin:100px auto;
    }
    #contain_back{
      background-color:#fff;
      opacity:0.5;
      left:0;right:0;
      width:100%;height:100%;
      z-index:-1;
      border-radius:3px;
    }
    #main{
      padding:30px;color:#333;
      font-family: serif;
    }
    .block{
      padding:20px 0;
      border-bottom:1px solid #f0f0f0;
    }
    .block:last-child{
      border-bottom:none;
    }
    i.visible{
      background-color:red;
      width:8px;height:8px;
      border-radius:4px;
    }
    i.visible[enabled]{
      background-color:green;
    }
    

  #outting.container.pr


    #contain_back.pa
    #main
      .row
        - for theme in list
          .col-sm-12.block(data-id="#{theme.id}")
            .col-sm-4
              %a.t.cp(data-toggle="tooltip" data-placement="right" title="") = theme.name
            .col-sm-1.tc.matches(data-toggle="tooltip" data-placement="right" title="#{theme.matches}")
              %a.t.cp MAT
            .col-sm-1.tc(data-toggle="tooltip" data-placement="right" title="共#{theme.number}资源")
              %a.t.cp.last = theme.last_number
            .col-sm-1.tc
              - if theme.visible
                %i.visible.dib.cp.t(enabled)
              - else
                %i.visible.dib.cp.t
            .col-sm-1.tc
              %a.t.cp.sort SO
            .col-sm-1.tc
              %a.t.cp.sort2 RT

              
  :javascript
    j(function () {
      j('[data-toggle="tooltip"]').tooltip();
      j('i.visible').click(function(){
        var that = this;
        if(j(this).attr('enabled') === undefined){
          j.post('/themeapi/update',{id:j(this).parent().parent().attr('data-id'),visible:1},function(){
            j(that).attr('enabled','');
          },'json')
        }else{
          j.post('/themeapi/update',{id:j(this).parent().parent().attr('data-id'),visible:0},function(){
            j(that).removeAttr('enabled');
          },'json')
          
        }
      });
      j('a.sort').click(function(){
        var m = j(this).parent().parent().find('.matches').attr('data-original-title');
        j.post('/api/match',{match:m},function(d){
          var id = d.data.list.sort().toString();
          if(id){
            var c = confirm('重新筛选'+id+'?');
            if(c){
              j.post('/api/flesh',{id:id},function(f){
                var ids = f.data.affect,str = '';
                for(var g in ids)str += g + ':' + (ids[g]?'成功!':'失败!') + '\n';
                alert(str)
              },'json')}}else alert('没有筛选内容！');
        },'json');
      });
      j('a.sort2').click(function(){
        var theme = j(this).parent().parent().attr('data-id');
        j.post('/themeapi/sort',{id:theme},function(q){
          if(q.code == 200){
            alert('成功！');location.reload(true)
          }
          else alert(q.message);
        },'json')
      })
    })

  