- extends "base.haml"



- block siteInfo
  %title = title



- block body
  :css
    body{
      background-color:#f0f0f0;
    }
    #outting{
      margin:100px auto;
    }
    #contain_back{
      background-color:#fff;
      opacity:0.5;
      left:0;right:0;
      width:100%;height:100%;
      z-index:-1;
      border-radius:3px;
    }
    #main{
      padding:30px;color:#333;
      font-family: serif;
    }
    .block{
      padding:20px 0;
      border-bottom:1px solid #f0f0f0;
    }
    .block:last-child{
      border-bottom:none;
    }
    i.visible{
      background-color:red;
      width:8px;height:8px;
      border-radius:4px;
    }
    i.visible[enabled]{
      background-color:green;
    }
    

  #outting.container.pr


    #contain_back.pa
    #main
      .row
        - for theme in list
          .col-sm-12.block
            .col-sm-4
              %a.t.cp(data-toggle="tooltip" data-placement="right" title="") = theme.name
            .col-sm-1.tc(data-toggle="tooltip" data-placement="right" title="#{theme.matches}")
              %a.t.cp.matches MAT
            .col-sm-1.tc(data-toggle="tooltip" data-placement="right" title="共#{theme.number}资源")
              %a.t.cp.last = theme.last_number
            .col-sm-1.tc
              - if theme.visible
                %i.visible.dib.cp.t(enabled data-id="#{theme.id}")
              - else
                %i.visible.dib.cp.t(data-id="#{theme.id}")
              
  :javascript
    j(function () {
      j('[data-toggle="tooltip"]').tooltip();
      j('i.visible').click(function(){
        var that = this;
        if(j(this).attr('enabled') === undefined){
          j.post('/themeapi/update',{id:j(this).attr('data-id'),visible:1},function(){
            j(that).attr('enabled','');
          },'json')
        }else{
          j.post('/themeapi/update',{id:j(this).attr('data-id'),visible:0},function(){
            j(that).removeAttr('enabled');
          },'json')
          
        }
      })
    })

  