- extends "base.haml"



- block siteInfo
  %title #{g.title}
  %meta(name="keywords" content="#{g.keywords}")
  %meta(name="description" content="#{g.description}")


- block body
  #example
    - for theme in list
      theme name : #{theme.name}<br>

  

  