- extends "base.haml"



- block siteInfo
  %title = title



- block body
  :css
    body{
      background-color:#f0f0f0;
    }
    #outting{
      margin:100px auto;
    }
    #contain_back{
      background-color:#fff;
      opacity:0.5;
      left:0;right:0;
      width:100%;height:100%;
      z-index:-1;
      border-radius:3px;
    }
    #main{
      padding:30px;color:#333;
      font-family: serif;
    }
    .block{
      padding:20px 0;
      border-bottom:1px solid #f0f0f0;
    }
    .block:last-child{
      border-bottom:none;
    }
    i.visible{
      background-color:red;
      width:8px;height:8px;
      border-radius:4px;
    }
    i.visible[enabled]{
      background-color:green;
    }
    

  #outting.container.pr
    #contain_back.pa
    #main
      .row
        - for theme in list
          .col-sm-12.block(data-id="#{theme.id}")
            .col-sm-4
              %a.t.cp.name(data-toggle="tooltip" data-placement="right" title="") = theme.name
            .col-sm-1.tc.matches(data-toggle="tooltip" data-placement="right" title="#{theme.matches}")
              %a.t.cp MAT
            .col-sm-1.tc(data-toggle="tooltip" data-placement="right" title="共#{theme.number}资源")
              %a.t.cp.last = theme.last_number
            .col-sm-1.tc
              - if theme.visible
                %i.visible.dib.cp.t(enabled)
              - else
                %i.visible.dib.cp.t
            .col-sm-1.tc
              %a.t.cp.sort SO
            .col-sm-1.tc
              %a.t.cp.sort2 RT

              
  %button.btn.btn-primary.addT(type="button") 创建主题
                            
  
  #modal_new.modal.inmodal(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog
      .modal-content.animated.fadeInDown
        .modal-header
          %button.close(type="button" data-dismiss="modal" aria-label="Close")
            %span(aria-hidden="true") &times;
            %span.sr-only Close
          %h4.modal-title 创建主题
          %small.font-bold 
        .modal-body
          .sk-spinner.sk-spinner-wave.dn.animated
            .sk-rect1
            .sk-rect2
            .sk-rect3
            .sk-rect4
            .sk-rect5
          %form.form-horizontal.animated(method="post")
            .form-group
              %label.col-sm-2.control-label 主题名字
              .col-sm-10
                %input.form-control(type="text" name="name")
            .form-group
              %label.col-sm-2.control-label 过滤标签
              .col-sm-10
                %input.form-control(type="text" name="matches")
            .form-group
              %label.col-sm-2.control-label 最新集数
              .col-sm-4
                %input.form-control(name="last_number" type="number" value=0)
              %label.col-sm-2.control-label 资源数量
              .col-sm-4
                %input.form-control(type="text" name="number" type="number" value=0)
            .form-group
              %label.col-sm-2.control-label 所属月份
              .col-sm-4
                %input.form-control(type="text" name="season")
              %label.col-sm-2.control-label 优先级
              .col-sm-4
                %input.form-control(type="text" name="level" type="number" value=0)
            .form-group
              %label.col-sm-2.control-label 显示
              .col-sm-4
                %input.form-control(type="text" name="visible" type="number" value=0)
                %input.form-control(type="text" name="id" type="hidden" value=0)
        .modal-footer
          %button.btn.btn-default(type="button" data-dismiss="modal") Close
          %button.btn.btn-primary.save(type="button") Save
      
  
  :javascript
    j(function () {
      j('[data-toggle="tooltip"]').tooltip();
      j('i.visible').click(function(){
        var that = this;
        if(j(this).attr('enabled') === undefined){
          j.post('/themeapi/update',{id:j(this).parent().parent().attr('data-id'),visible:1},function(){
            j(that).attr('enabled','');
          },'json')
        }else{
          j.post('/themeapi/update',{id:j(this).parent().parent().attr('data-id'),visible:0},function(){
            j(that).removeAttr('enabled');
          },'json')
          
        }
      });
      j('a.sort').click(function(){
        var m = j(this).parent().parent().find('.matches').attr('data-original-title');
        j.post('/api/match',{match:m},function(d){
          var id = d.data.list.sort().toString();
          if(id){
            var c = confirm('重新筛选'+id+'?');
            if(c){
              j.post('/api/flesh',{id:id},function(f){
                var ids = f.data.affect,str = '';
                for(var g in ids)str += g + ':' + (ids[g]?'成功!':'失败!') + '\n';
                alert(str)
              },'json')}}else alert('没有筛选内容！');
        },'json');
      });
      j('a.sort2').click(function(){
        var theme = j(this).parent().parent().attr('data-id');
        j.post('/themeapi/sort',{id:theme},function(q){
          if(q.code == 200){
            alert('成功！');location.reload(true)
          }
          else alert(q.message);
        },'json')
      });
      j('.addT').click(function(){
        j('#modal_new form [name="id"]').val('');
        j('h4.modal-title').text('创建主题');
        j('#modal_new').modal();
      });
      j('#modal_new .save').click(function(){
        var s = j('#modal_new form').serialize();
        var id = j('#modal_new form [name="id"]').val();
        var url = id ? '/themeapi/update' : '/themeapi/add';
        j.post(url,s,function(q){
          if(q.code == 200){
            alert('成功！');location.reload(true)
          }
          else alert(q.message);
      },'json')});
      j('a.name').click(function(){
        var id = j(this).parent().parent().attr('data-id');
        j('h4.modal-title').text('修改主题');
        j('#modal_new .sk-spinner').removeClass('fadeOutUp').removeClass('dn');
        j('#modal_new form').removeClass('fadeInUp').css('opacity',0);
        j('#modal_new').modal();
        j.post('/themeapi/get',{id:id},function(d){
          if(d.code == 200){
            
            for(var g in d.data.info){

              j('#modal_new form [name="'+g+'"]').val(d.data.info[g])

            }
            j('#modal_new .sk-spinner').addClass('fadeOutUp');
            j('#modal_new form').addClass('fadeInUp');

          }else alert(q.message);
        },'json')

      });
    })

  