!!!
%html
    %head
        %meta(charset="UTF-8")
        %title 家长/Genearch
        %meta#viewport(content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport")
        %link(rel="stylesheet" href="/app/css/reset.css")
        %link(rel="stylesheet" href="/app/css/parent.css?1")

    %body
        .banner
            %img(src="/app/img/b1.jpg")

        .parent-main
            .parent-child.personal
                %a(href="#")
                %p
                    个人资料
                    %br
                    %span personal profile
            .parent-child.child
                %a(href="#")
                %p
                    孩子记录
                    %br
                    %span child record
            .parent-child.leave
                %a(href="#")
                %p
                    留言
                    %br
                    %span leave a message
        .parent-main
            .parent-child.vote
                %a(href="#")
                %p
                    投票
                    %br
                    %span vote

            .parent-child.activity
                %a(href="#")
                %p
                    活动
                    %br
                    %span activity
            .parent-child.ask
                %a(href="#")
                %p
                    请假
                    %br
                    %span ask for leave
        .parent-main
            .parent-child.menu
                %a(href="#")
                %p
                    菜单
                    %br
                    %span menu

            .parent-child.course
                %a(href="#")
                %p
                    课程
                    %br
                    %span course
            .parent-child.notice
                %a(href="#")
                %p
                    校内通知
                    %br
                    %span notice

        .parent-main
            .parent-child.conduct(style="width: 2.4rem;")
                %a(href="#")
                %p
                    %em 校外宣传
                    %span conduct propaganda

        %script(src="/recruit/js/main.js")
        %script(src="/js/jquery.min.js?v=2.1.4")
        %script(src="/js/m.js?1")
