- extends "base.haml"


- block body
    
    .wrapper.wrapper-content
        .row
            .col-sm-12
                #modal_new.ibox.float-e-margins
                    .ibox-title
                        %h3 热点专题
                    .ibox-content
                        %form.form-horizontal.animated(method="post")
                            %input.form-control(type="hidden" name="id")
                            .form-group
                                %label.col-sm-2.control-label 标题
                                .col-sm-6
                                    %input.form-control(name="title")
                            .form-group
                                %label.col-sm-2.control-label 标题(EN)
                                .col-sm-6
                                    %input.form-control(name="title_en")
                            
                            .form-group
                                %label.col-sm-2.control-label 年份
                                .col-sm-2
                                    %input.form-control(name="year" value="2017")
                            .form-group
                                %label.col-sm-2.control-label 封面图
                                .col-sm-6
                                    %img.cp.pic_img(data-name="pic" src="/pic/nopic.jpg" style="max-width:100px;max-height:100px")
                                    %input.form-control.picFile(type="file" style="display:none")
                                    %input.form-control(type="hidden" name="pic")
                            .form-group
                                %label.col-sm-2.control-label 优先级
                                .col-sm-2
                                    %input.form-control(name="top" value="0")
                                %label.col-sm-2.control-label.text-muted (*优先级越高排在越前面)
                            .form-group
                                %label.col-sm-2.control-label 描述
                                .col-sm-6
                                    %textarea.form-control.noresize(name="description" rows="4")
                            .form-group
                                %label.col-sm-2.control-label 描述(EN)
                                .col-sm-6
                                    %textarea.form-control.noresize(name="description_en" rows="4")
                            .form-group
                                %label.col-sm-2.control-label 详情
                                .col-sm-9
                                    .summernote(data-name="content")
                            .form-group
                                %label.col-sm-2.control-label 详情(EN)
                                .col-sm-9
                                    .summernote(data-name="content_en")
                        .ibox-title
                            %a.btn.btn-default(href="javascript:gotoTag('news/hot',1)") Close
                            %button.btn.btn-primary.save(type="button") Save
    
- block otherCss
    %link(href="/css/plugins/summernote/summernote.css" rel="stylesheet")
    %link(href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet")

                        



- block otherScript
    %script(src="/js/plugins/summernote/summernote.min.js")
    %script(src="/js/plugins/summernote/summernote-zh-CN.js")
    :javascript
        $(function(j){
            upPic('/staff/upPic','.picFile','input[name="pic"]','.pic_img');
            j('.pic_img').click(function(){
                j('.picFile').click();
            })
            var su = j(".summernote").summernote({
                toolbar: [
                    ['style', ['style']],
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname',['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['height', ['height']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['e',['picture','link']],
                    ['o',['codeview']],
                ],
                height: 300,
                minHeight: 300,
                maxHeight: null,
                focus: true,
                lang:"zh-CN",
                callbacks: {
                    onImageUpload: function(files) {
                        curl('/staff/upPic',packFormData(files),function(d){
                            var imgNode = new Image
                            imgNode.src = d.fpath
                            su.summernote('insertNode', imgNode);
                        },1);
                    }
                }
            })
            gr.saveAfter = function(){
                location = $('.ibox-title a.btn.btn-default').attr('href')
            }
            cget('/news/hot_get','#{id}','/news/hot_upd',1);
            // gr.flesh = function(){}
            // $('.click2edit').summernote('code');

        });


    
        