- extends "base.haml"


- block body

    .wrapper.wrapper-content
        .row
            .col-sm-12
                .ibox.float-e-margins
                    .ibox-content.topw
                        .row
                            .col-xs-1
                                %button.btn.btn-primary.btn-outline.newOne(data-href="news/video_detail") new
                            .visible-xs.col-xs-2
                            .col-sm-3.col-xs-8
                                %form.input-group
                                    %input.form-control
                                    %span.input-group-btn
                                        %button.btn.btn-primary.search.t(type="submit") 搜索
                .sk-spinner.sk-spinner-wave.animated
                    .sk-rect1
                    .sk-rect2
                    .sk-rect3
                    .sk-rect4
                    .sk-rect5
                
                .ibox.ibox2.float-e-margins
    

                        


- block otherScript
    :javascript
        $(function(j){
            var search = '';
            j('.topw form').bind('submit',function(e){
                e.preventDefault()
                search = j(this).find('input').val()
                gr.flesh();
            });
            gr.updBefore = function(){
                
            }
            gr.getListAfter = function(d){
                $('input.i-checks').on('ifChanged',function(){
                    curl('/news/video_upd',{id:$(this).parent().parent().attr('data-id'),banner:this.checked?1:0},function(d){
                        curl_succ('success!');
                    });
                });
            }
            gr.flesh = function(){
                getList('/news/video_lists',{search:search})
            }
            
            gr.flesh();
        })
            
        
        
            
